/* 
 David Bjergaard dbjergaard@gmail.com
*/
#top {
	margin: 300px 0px 0px 0px;
	padding: 10px;
	border: 0px;
	/* background: #fff; */
	height: 80px;
}
#left {
    position: absolute;
    top: 450px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    border: 0px;
    width: 22%;
}
@media only screen and (max-width: 683px) {
    #right,#left {
	display: none;
    }
}
#right {
    position: absolute;
    top: 450px;
    right: 0px;
    margin: 0px;
    padding: 10px;
    border: 0px;
    width: 22%;
}
@import 'https://fonts.googleapis.com/css?family=Lato|Playfair+Display';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}
a {
    text-decoration: underline;
}
/*
a:hover{
    background: #34282C;
}
*/
a:visited{
    color: #b3bac3;
}

b {
    font-weight: 600;
}
body
{
    font-family: 'Lato', sans-serif;
    -moz-font-feature-settings: "liga", "calt", "xtex";
    -webkit-font-feature-settings: "liga", "calt", "xtex";
    -ms-font-feature-settings: "liga", "xtex";
    -o-font-feature-settings: "liga", "xtex";
    font-feature-settings: "liga", "xtex";
    font-size: 15pt;
    color: #eaecef;
    clear: center;
    max-width: 30em;
    line-height: 1.35;
    text-align: justify;
    padding: 10px;
    border: 0px;
    background: #000000;
    margin: 0px 150px 0px 150px;
    margin: 0 auto;
    background-size: 250px;
    background-image: url("./images/WebsiteLogo.png");
    background-position:  center top;
    background-repeat: no-repeat;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.1em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1.0em;
}
h5 {
  font-size: 0.9em;
}
h6 {
  font-size: 0.8em;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
th,tbody,table,td,tr {
    border-style: hidden;
}

th{
    border-collapse: collapse;
    text-align: left;
}
tbody{
	font-size: 18px;
	border-collapse: collapse;
	text-align: left;
}

hr { 
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
